<mat-toolbar class="navbar" role="heading">
    <button mat-button (click)="openMovies()">
        <span>myFlix</span>
    </button>
    <span class="spacer"></span>
    <button class="nav-icon-button" mat-flat-button (click)="openMovies()" aria-label="button to view all movies">All
        Movies
    </button>
    <button class="nav-icon-button" mat-flat-button (click)="openProfile()" aria-label="button to view profile">Profile
    </button>
    <button class="nav-icon-button" mat-flat-button (click)="logoutUser()" aria-label="button to logout">Logout
    </button>
</mat-toolbar>