.example-card {
    margin: 40px;
    width: 350px;
   
  }

  .movie-card-container {
    display: flex;
    flex-wrap: wrap;
    margin-right: 2vw;
    margin-left: 2vw;
    justify-content: center;
    margin-top: 11vh;
}